* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 47px 0 0 42px;


}

.link-header {
    color: #17233D;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    margin-right: 32px;
    cursor: pointer;
}

.products {
    margin-right: 36px;
}

button {
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    width: 124px;
    height: 51px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    cursor: pointer;
}

.logo-image {
    margin: 163px 84.98px 278px 121px;
    display: inline-block;
    width: 595.178px;
height: 500.005px;
}

h1 {

    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596px;
    width: 582px;
    height: 164px;

}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 450px;
    margin-top: 47px;
    margin-bottom: 55px;

}
main{
    margin-right: 84.98px;
}

section {
    
    display: inline-block;
    position: absolute;
    top: 342px;
    left: 801px;
}
#link-section{

    color: #6FBF44;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 1px;
cursor: pointer;
}